.site-main {
    @media (min-width: $tablet-width) {
        font-size: 1.5rem;
    }

    @media (min-width: $desktop-width) {
        div::after {
            content: "<i class="fas fa-quote-left"></i>";
        }
    }

    .site-main article {
        margin-left: 10px;
    }

    #new-quote-button {
        font-size: 1rem;
        margin-left: 26px;

        @media (min-width: $tablet-width) {
            font-size: 1.25rem;
            height: 55px;
            width: 240px;
            margin-left: 400px;
        }
    }
}

.entry-content {
    width: 660px;
    height: 180px;
    margin: 57px 0px 0px 203px;
}

.entry-content p {
    margin-left: 26px;
}

.content-container {
    height: 660px;
    width: 510px;
    display: flex;
    flex-direction: column;
}

.entry-title {
    margin-left: 26px;

    @media (min-width: $desktop-width) {
        margin-left: 255px;
        font-size: 1.25rem;
    }


}

#page {
    @media (min-width: $tablet-width) {
        margin-left: 26px;
    }

}