

.element-style a {
  display: flex;
  flex-wrap: wrap;
}

.element-style {
  display: flex;
  flex-wrap: wrap;

  list-style: outside none;
}

.element-style li {
  list-style: outside none;
}

.element-style a {
  text-decoration: none;
  color: #00cc00;
  margin: 20px 15px 0px 0px;
}
